---
import { defaultLang } from '../i18n/ui';
---

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <noscript><meta http-equiv="refresh" content={`0;url=/${defaultLang}/`}></noscript>
    <script is:inline>
        var lang = navigator.language || navigator.userLanguage;
        var target = lang.startsWith('en') ? 'en' : 'de';
        var path = window.location.pathname;
        if (!path.endsWith('/')) path += '/';
        window.location.replace(path + target + '/');
    </script>
</head>
<body>
    <p>Leite weiter...</p>
</body>
</html>
